services:
  db:
    image: postgis/postgis:15-3.3
    container_name: georisem-db
    restart: always
    environment:
      POSTGRES_USER: georisem
      POSTGRES_PASSWORD: georisem123
      POSTGRES_DB: georisem_db
    ports:
      - "54320:5432"
    volumes:
      - georise_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U georisem -d georisem_db"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  georise_db_data:
